<article> 
<head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application" %>
</head>

    <div class="baseline">
        <b>
            <p>&#x1f3e0;ホーム</p>
            <p>&#128269;話題を検索</p>
            <p>&#128276;通知</p>
            <p>&#x2709;&#xFE0F;メッセージ</p>
            <p>&#x1F397;&#xFE0F;ブックマーク</p>
            <p>&#x1F4DD;リスト</p>
            <p>&#x1F464;プロフィール</p>
            <p>･･･ もっと見る</p>
        </b>
        <c>
            <p>ツイートする</p>
        </c>
    </div>
</article>