<article> 
<body>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application" %>
</body>

<div class="content">
    <d>
        <a>ツイート</a>
        <a>ツイートと返信</a>
        <a>メディア</a>
        <a>いいね</a>
    </d>
</div>
</article>