/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.baseline {
    font-size:150%;
    width :10%;
    float:left;
    font-weight: normal;
   
}

.baseline {
    padding: 0.5em 1em;
    color: #474747;
    border-right: double 7px #4ec4d3;
    margin-right: 50px;
}

.content {
    line-height: 5;
}

.content a {
    font-size:150%;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #dcdcdc; 
    border-bottom: solid 2px #1e90ff
}

.content d a:hover{
    opacity:0.7;
    color:blue;
}

.p {
   
    margin-left:10px;
}

body {
    background-color: #dcdcdc;
}

.b p{
     margin: 0; 
    padding: 0;
}

.baseline b p:hover {
    opacity: 0.7;
    color: blue;
}

.baseline c{
   color:blue;
}

.baseline c :hover{
    opacity: 0.7;
    color: #ff00ff;
}

